// Import the default theme styles
@import "{{ site.theme }}";

.header {
  background-image: url('Header.png'); 
  background-size: cover; 
  background-position: center; 
  height: 300px; 
}


// Define your color variables
$banana-leaf-green: #4F7942;
$light-tropical-green: #DAE8D4;
$coconut-white: #FFFFF0;
$pale-yellow: #feefd0;

// Apply the color variables
:root {
  --color-primary: #{ $banana-leaf-green };
  --color-secondary: #{ $light-tropical-green };
  --color-background: #{ $coconut-white };
  --color-accent: #{ $pale-yellow };
}

// Typography
h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: regular;
}

em, .emphasis {
  font-family: 'Playfair Display', serif;
}
