// Import the default theme styles
@import "{{ site.theme }}";

// Import the default theme styles
@import "{{ site.theme }}";

.header {
  background-image: url('Header.png') !important; 
  background-size: cover !important; 
  background-position: center !important; 
  height: 300px !important; 
}

:root {
  --color-primary: #4F7942 !important;
  --color-secondary: #DAE8D4 !important;
  --color-background: #FFFFF0 !important;
  --color-accent: #feefd0 !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Raleway', sans-serif !important;
  font-weight: bold !important;
}

body {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: regular !important;
}

em, .emphasis {
  font-family: 'Playfair Display', serif !important;
}
